.TweetTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid dimgrey;
	border-radius: 5px;
	width: 50%;
	font-size: calc(5px + 2vmin);
	color: white;
	background-color: dimgrey;
	cursor: pointer;
	transition: transform 0.5s;
    min-width: 300px;
    text-overflow: ellipsis;
    min-width: 300px;

}
.TweetTileContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    min-width: 300px;
    text-overflow: ellipsis;
}
.AccountTile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0px;
    min-width: 300px;

}
.AccountTileUserImage{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 10px;
}
.VerifiedImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
}
.Searchbar{
    width: 35%;
    height: 50px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding-left: 15px;
}
.Searchbar:focus{
    outline: none;
}
.SubmitTile{
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-top: 1px;
    height: 55px;
    width: 12%;
    background: blue;
    color: white;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 2vw;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.SubmitTile:focus{
    outline: none;
}
.SearchbarDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    padding: 10px;
}

.TrendTile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid dimgrey;
	border-radius: 5px;
	width: 100%;
	font-size: calc(5px + 2vmin);
	color: white;
	background-color: dimgrey;
	cursor: pointer;
	transition: transform 0.5s;
    text-overflow: ellipsis;
}
.TrendTileContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    text-overflow: ellipsis;
    text-decoration: none;
}

.AnchorTrend{
    width: 45%;
    min-width: 300px;
    text-decoration: none;
}